doctype html
html
  head
    link(rel='stylesheet', href='home.css')
  body
    .header
      .header__thin Let Us
      .header__bold Hear You

    - resources.forEach(function(feedback) {
      .feedback
        .feedback__heading= feedback.attributes.text ? feedback.attributes.text.substr(0, 35) + '...' : 'Content not available...'
        if feedback.attributes.emotions
          .feedback__emotions
            each emotion, name in feedback.attributes.emotions
              .feedback__emotion.accent #{emotion.tone_name}&nbsp;#{Math.floor(emotion.score * 100) + '%'}
        if feedback.attributes.error
          .feedback__error= feedback.attributes.error.substr(0, 70) + '...'
        .feedback__details
          .accent #{feedback.attributes.status}&nbsp;
          .misc= 'since ' + new Date(feedback.last_event.timestamp)
        .feedback__content= feedback.attributes.text
        if feedback.attributes.path
          a.feedback__source(href=feedback.attributes.path)= feedback.attributes.path
    - })

    form.feedback-form(
      action='/feedback'
      method='post'
      enctype='multipart/form-data')
      .feedback-form__title Import Feedback
      label.feedback-form__label Upload a Recording
        input.feedback-form__file(type='file', name='audio')
      textarea.feedback-form__content(
        name='content'
        rows='5'
        placeholder='Or provide feedback text here')
      button.feedback-form__submit.button(type='submit') Save
